<html>

<head>
<link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>
    <div class="wrapper">
         
	<div class="container">
		<h1>Welcome</h1>
		<form class="form" method="post" action="/">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
                <a class="nav" class="register" href="/signup">Register</a>
           
             {{#errors}}
        <p>{{msg}}</p>
        {{/errors}}
		</form>
     
	</div>

	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

</body>

</html>