<html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles.css" />

</head>

<body>
    <div class="manage_wrapper">
        <div class="nav_bar">
            <a class="nav" href="./home">Home</a>
            <a href="./new_card" class="nav">Create a new card</a>
            <a href="./logout" class="nav">Log Out</a>
        </div>
        {{#result}}
        <p class="nav"><b>{{name}} Deck</b></p>
        {{/result}}
    </div>
    <div class="wrapper_home">
        <div class="container_manage">
            {{#result}}
            <form class="card_container" method="post" action="manage_cards/{{id}}">

            {{#.}}

            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <p>{{question}}</p>
                    </div>
                    <div class="back">
                        <p>{{answer}}</p>
                    </div>
                </div>
            </div>
            {{/.}}
            <button class="delete" type="submit">Delete</button>
        </form>

        {{/result}}
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
</body>

</html>